@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: white;
}

body.gradiente-dia {
  background: linear-gradient(90deg, rgba(12,1,238,1) 0%, rgba(0,255,226,1) 62%, rgba(254,255,0,1) 100%);
}

body.gradiente-tarde {
  background: linear-gradient(90deg, rgba(23,5,1,1) 0%, rgba(193,102,16,1) 35%, rgba(249,255,0,1) 100%);
}

body.gradiente-noite {
  background: linear-gradient(90deg, rgba(23,5,1,1) 0%, rgba(4,4,54,1) 35%, rgba(7,10,159,1) 100%);
}

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: calc(50vh - 50px);
}